main {
  text-align: center;

}

header {
  text-align: center;
}

.sidebar {
  width: 300px;
}

main {
  display: flex;
  position: relative;
}

li {
  list-style-type: none;
  border: solid 1px black;
}



.note {
  position: relative;
  padding: 10px;
  width: 100%;
}
